printWidth: 120
tabWidth: 2
semi: false
singleQuote: true
useTabs: false
trailingComma: none
arrowParens: avoid
bracketSpacing: true
overrides:
  - files: '{**/*,*}.{js,ts,jsx,tsx,js2}'
    options:
      parser: meriyah
  - files: '*.json5'
    options:
      singleQuote: false
      quoteProps: preserve
