body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 12px;
}

#app {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.info {
  background: #FFFBCC;
  border: 1px solid #FFEC19;
  color: #666;
  line-height: 2;
  margin-top: 12px;
  text-indent: 6px;
  font-size: 13px;
}

h1 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  em {
    font-size: 9px;
    color: #666;
    margin-left: 6px;
  }
}


h3 {
  font-size: 16px;
  margin: 20px 0 4px;

  span {
    color: #06c;
  }
}

span.label {
  color: #666;
}

span.norm {
  .r {
    color: red;
  }

  .g {
    color: green;
  }
}
